[submodule "Submodules/SRPXX"]
	path = Submodules/SRPXX
	url = https://github.com/macmade/SRPXX.git
[submodule "Submodules/xcconfig"]
	path = Submodules/xcconfig
	url = https://github.com/macmade/xcconfig.git
